extends layout.pug
block content
	div.jumbotron
		h1 Goldwatch
		p
			span Thank you for using Goldwatch v#{version}! 
				a(href="yo") Update available.
		p This software is MIT licenced and still in beta.

	p
				h1 Last 10 player-snapshots
				table.table 
					thead
						tr
							th(scope="col") id
							th(scope="col") Name
							th(scope="col") Gold
							th(scope="col") Playing time
							th(scope="col") Snapshotted at
					tbody
						each player in players
							tr
								th(scope="row") #{player.guid}
								td #{player.name} (#{player.level})
								td #{player.getFormattedMoney()}
								td #{player.getFormattedTotalTime()}
								td #{player.getFormattedSnapshotTime()}