extends layout.pug
block content
	p
		h3 25 latest money containing mails
		p
			table.table
				thead
					tr
						th(scope="col") id
						th(scope="col") From
						th(scope="col") To
						th(scope="col") Subject
						th(scope="col") Amount
				tbody
					each mail in mails
						tr
							th(scope="row") #{mail.id}
							td #{mail.sender}
							td #{mail.receiver}
							td #{mail.subject}
							td #{mail.getFormattedMoney()}

